.search-form {
  position: fixed;
  top: 0;
  width: 100%;
  // left: 50%;
  // transform: translateX(-50%);
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.753);
  border-radius: 5px;

  & > input {
    padding-left: 10px;
    width: 300px;
    height: 40px;
    border-radius: 4px;
    border-color: #999999;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding-top: 80px;
  padding-left: 0;
  list-style: none;

  & li {
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
      margin-bottom: 20px;
      width: 44%;
    }

    @media screen and (min-width: 1200px) {
      width: 22%;

      &:not(:nth-child(4n)) {
        margin-right: 2.5%;
      }
    }
  }

  //   & li:not(:nth-child(4n)) {
  // margin-right: 2.5%;
  //   }
}

.photo-card {
  & img {
    margin-bottom: 10px;
    width: 100%;

    @media screen and (min-width: 1200px) {
      margin-bottom: 7px;
    }
  }
}

.stats {
  display: flex;
  flex-wrap: wrap;

  & .stats-item {
    display: flex;
    margin-top: 0;
    margin-bottom: 10px;
    align-items: center;
    font-size: 22px;

    @media screen and (min-width: 768px) {
      font-size: 16px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 12px;
    }

    &:not(:nth-child(4n)) {
      margin-right: 6%;
    }
  }

  & .material-icons {
    margin-right: 4px;
    font-size: 22px;

    @media screen and (min-width: 768px) {
      font-size: 16px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 12px;
    }
  }
}
