.search-form {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.753);
  border-radius: 5px;

  & > input {
    display: block;
    margin: 0 auto;
    padding-left: 10px;
    width: 300px;
    height: 40px;
    font-size: 16px;
    border-radius: 4px;
    border-color: #999999;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  padding-top: 45px;
  padding-left: 0;
  list-style: none;

  & li {
    margin-bottom: 15px;
    width: 22%;

    &:not(:nth-child(4n)) {
      margin-right: 2.5%;
    }
  }
}

.photo-card {
  & img {
    margin-bottom: 7px;
    width: 100%;
  }
}

.stats {
  display: flex;
  flex-wrap: wrap;

  & .stats-item {
    display: flex;
    margin-top: 0;
    margin-bottom: 10px;
    align-items: center;
    font-size: 12px;

    &:not(:nth-child(4n)) {
      margin-right: 6%;
    }
  }

  & .material-icons {
    margin-right: 4px;
    font-size: 12px;
  }
}

.button {
  display: block;
  padding: 10px 30px;
  margin: 0 auto;
  text-transform: uppercase;
  background-color: aquamarine;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: rgb(61, 248, 186);
  }
}
